<div class="container" style="min-width: 600px">
<div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Search Insurance Questions</mat-label>
      <input #insuranceSearchInput matInput placeholder=""                  
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of proposals" [value]="option._source.Title">
          {{option._source.Title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</div>
</div>

<table mat-table [dataSource]="data$" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Question </th>
      <td mat-cell *matCellDef="let qa"> {{qa._source.question}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Answer </th>
      <td mat-cell *matCellDef="let qa"> {{qa._source.answer}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>